<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="aservice" class="com.minis.test.xml.AServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="String" name="property2" value="Hello World!"/>
        <property type="com.minis.test.xml.BaseService" name="ref1"
                  ref="baseservice"/>
    </bean>
    <bean id="basebaseservice" class="com.minis.test.xml.BaseBaseService">
        <property type="com.minis.test.xml.AServiceImpl" name="as" ref="aservice" />
    </bean>
    <bean id="baseservice" class="com.minis.test.xml.BaseService">
        <property type="com.minis.test.xml.BaseBaseService" name="bbs"
                  ref="basebaseservice" />
    </bean>
</beans>